*{
  padding: 0;
  margin: 0;
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header{
  background-color: #009b3a;
  text-align: center;
}

header a{
  text-decoration: none;
  color: white;
}

nav{
  display: flex;
  justify-content: space-around;
  background-color: #fedf00;
  height: 35px;
  align-items: center;
}

nav a{
  color: black;
  text-decoration: none;
  color: black;
}

nav a:hover{
  transition: 0.5s;
  font-size: 1.1em;
}

.nav-bar{
  display: flex;
  align-items: center;
}

.nav-bar img{
  margin-left: 20px;
  height: 20px;
  width: 30px;
  border: black solid 1px;
}

.container{
  background-color: #272727;
}

.form-state{
  color: white;
  text-align: center;
  margin: 0 auto;
}

.form-state input{
  width: 60%;
  height: 30px;
  border-radius: 10px;
}

section{  
  color: white;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  height: auto;
  padding: 30px 0;
}

.datas-by-country{
  width: 60%;
  margin: 0 auto;
  font-size: 1.2em;
}

.datas-by-state{
  display: grid;
  grid-template-columns: 450px 450px 450px;
  column-gap: 30px;
  row-gap: 50px;
}

.datas-by-state::after, .datas-by-state::before{
  box-sizing: border-box;
}

.state{
  border: #009b3a solid 2px;
  border-radius: 15px;
  background-color: grey;
}

.state h2{
  overflow: hidden;
  height: 35px;
}

.state:hover{
  transition: .2s;
	transform: scale(1.05);
}

.cases-and-deaths{
  display: flex;
  justify-content: space-around;
}


footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #009b3a;
  color:white;
  height: auto;
  padding: 10px;
  font-size: 1.5em;
}

.contacts{
  display: block;
}


.contatcs-imgs img{
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

