@font-face {
  font-family: 'Circular Std';
  src: url('Circular-Std-Font/circular-std-medium-500.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


*{
  padding: 0;
  margin: 0;
  font-family: "Circular Std", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #193148;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.toolbar{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(28, 28, 28, 0.07);
  box-shadow: 0 7px 6px 0 rgba(33, 43, 54, 0.04);
  height: 50px;
}

.toolbar a{
  text-decoration:none;
  color: #193148;
}

header{
  display: flex;
  align-items: center;
  width: auto;
}

header img{
  margin-left: 20px;
  height: 25px;
  width: 40px;
  border: black solid 1px;
}

nav{
  display: flex;
  justify-content: space-around;
  height: auto;
  align-items: center;
  width: 40%;
}

nav div:hover{
  transition: 0.2s;
  scale: 115%;
}

.nav-bar{
  display: flex;
  align-items: center;
}

.content{
  background: linear-gradient(to bottom, rgba(29, 165, 132, .05), rgba(29, 165, 132, .05), rgba(29, 165, 132, 0.02));
  padding: 0 100px;
  margin-bottom: 30px;
}

.title-content{
  justify-content: center;
  display: flex;
  height: 100px;
  align-items: center;
  font-size: 30px;
}

.datas-by-country{
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}



.datas-by-country div{
  cursor: pointer;
  background-color: #ffffff;
  width: 350px;
  border-radius: 10px;
  height: 80px;
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(28, 28, 28, 0.07);
  box-shadow: 0 7px 6px 0 rgba(33, 43, 54, 0.04);
}

.datas-by-country div:hover{
  transition: .2s;
	transform: scale(1.05);
}

.datas-by-country h3{
  margin-bottom: 15px;
}

.state-infos{
  background-color: #ffffff;
  border: 1px solid rgba(28, 28, 28, 0.07);
  box-shadow: 0 7px 6px 0 rgba(33, 43, 54, 0.04);  color:white;
  border-radius: 10px;
}

.title-states{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(219, 233, 245, 0.6);
}

.title-states span{
  font-size: 20px;
}

.form-state input{
  padding: 2px;
  width: 270px;
  height: 40px;
  min-width: 160px;
  border-radius: 5px;
  border: 2px solid #DBE9F5;
  font-size: 14px;
}

.state-subjects{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(219, 233, 245, 0.6);
}

.state-list{
  height: 400px;
  overflow-y: scroll;
}

.state{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 20px;
  border-bottom: 1px solid rgba(219, 233, 245, 0.6);
}

.cases-and-deaths{
  width: 15%;
  display: flex;
  justify-content: space-between;
}

footer{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid rgba(28, 28, 28, 0.07);
  box-shadow: 0 7px 6px 0 rgba(33, 43, 54, 0.04);  color:white;
  height: auto;
  padding: 10px;
}

.contacts{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts h4{
  margin-right: 10px;
}

.contatcs-imgs img{
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

